.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.text {
  text-align: center;
}

.status_alive {
  color: green;
}
.status_dead {
  color: red;
}

.status_other {
  color: grey;
}

.container {
  display: flex;
}